html,
body,
#root {
  width: 100vw;
  height: 100vh;
}
.App {
  display: flex;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.resizable {
  /* width: 100% !important;
  height: 100% !important; */
}
