.sideBar {
  --icon-size: 40px;
  height: 100%;
  width: 70px;
  background-color: rgb(150, 147, 147);

  display: grid;
  grid-column: 1;
  justify-items: center;
}

.iconSection {
  display: grid;
  grid-column: 1;
  /* column-gap: 100px; */
  grid-gap: 20px;
}

.upper {
  align-content: start;
  padding-top: 40px;
  display: grid;
  grid-column: 1;
  column-gap: 20px;
}
.lower {
  align-content: end;
  padding-bottom: 40px;
}

svg {
  width: var(--icon-size);
  height: var(--icon-size);
}
